<form [formGroup]="form">
    <section fxLayout="column"
             fxLayoutAlign="start stretch">
        <mat-form-field class="my4">
            <mat-label>Name</mat-label>
            <input formControlName="name"
                   matInput>
            <mat-error *ngIf="name?.errors?.required">Name is required</mat-error>
            <mat-error *ngIf="name?.errors?.api">Name is already in use</mat-error>
        </mat-form-field>
        <ng-template #loading>
            <mat-progress-bar mode="indeterminate"
                              color="accent"></mat-progress-bar>
        </ng-template>
        <ng-container *ngIf="connectorApi.getAll() | async as connectors else loading">
            <mat-form-field class="my4">
                <mat-label>Connector</mat-label>
                <mat-select formControlName="connectorId">
                    <mat-option *ngFor="let connector of connectors"
                                [value]="connector.id">{{connector.name}}</mat-option>
                </mat-select>
            </mat-form-field>
        </ng-container>
    </section>
</form>