<ng-template #loading>
    <mat-progress-bar mode="indeterminate"
                      color="accent"></mat-progress-bar>
</ng-template>
<ng-container *ngIf="connector else loading">
    <section fxLayout="row | wrap"
             fxLayoutAlign="start start"
             fxLayoutGap="8px"
             class="full-height p8">
        <query-list *ngIf="querySrc"
                    [connector]="connector"
                    [querySrc]="querySrc"
                    [current]="query"
                    (editConnector)="editConnector($event)"
                    (add)="add()"
                    (download)="download($event)"
                    (fork)="fork($event)"
                    (remove)="remove($event)"
                    (select)="select($event)"></query-list>
        <section fxLayout="column"
                 fxLayoutAlign="start stretch"
                 class="card-outline-accent rounded full-height"
                 fxFlex>
            <section *ngIf="form && editor && storage"
                     fxLayout="column"
                     fxLayoutAlign="start stretch"
                     fxFlex>
                <mat-toolbar class="rounded"
                             fxLayoutAlign="start center"
                             fxLayoutGap="8px">
                    <mat-form-field fxFlex>
                        <mat-label>Interpolation</mat-label>
                        <input matInput
                               [disabled]="!(query.interpolated)"
                               [(ngModel)]="interpolation">
                    </mat-form-field>
                    <button mat-stroked-button
                            [disabled]="form.invalid || (query.interpolated && !(interpolation?.length > 0))"
                            (click)="execute()">
                        Execute Query
                    </button>
                    <button mat-stroked-button
                            color="primary"
                            [disabled]="!(storage.hasState) || form.invalid"
                            (click)="save()">
                        Save Query
                    </button>
                    <button mat-stroked-button
                            class="color-blue"
                            [disabled]="!(storage.hasState)"
                            (click)="clearStorage()">
                        Clear Cache
                    </button>
                </mat-toolbar>
                <query-form class="m8"
                            [data]="form"
                            [editor]="editor"
                            [showEditor]="true"
                            (update)="update($event)"></query-form>
            </section>
            <ng-container *ngIf="query">
                <mat-toolbar class="rounded"
                             fxLayoutGap="8px">
                    <span fxFlex>Results</span>
                    <button mat-stroked-button
                            color="primary"
                            [disabled]="results?.length < 1"
                            (click)="clearResults()">
                        Clear Results
                    </button>
                    <button mat-icon-button
                            (click)="toggleResultsExpanded()">
                        <mat-icon>{{resultsExpanded ? 'keyboard_arrow_down' : 'keyboard_arrow_right'}}</mat-icon>
                    </button>
                </mat-toolbar>
                <ng-container *ngIf="resultsExpanded">
                    <section *ngIf="results?.length > 0"
                             class="p8 overflow m4"
                             [style.max-height.px]="360">
                        <pre *ngFor="let result of results"
                             class="pre-wrap"><code>{{result | json}}</code></pre>
                    </section>
                    <p *ngIf="!(results?.length > 0)"
                       class="m8 mat-subheading-2">No Results Available</p>
                </ng-container>
            </ng-container>
        </section>
    </section>
</ng-container>