<ng-template #loading>
    <mat-progress-bar mode="indeterminate"
                      color="accent"></mat-progress-bar>
</ng-template>
<ng-container *ngIf="connector else loading">
    <section fxLayout="row | wrap"
             fxLayoutAlign="start start"
             fxLayoutGap="8px"
             class="full-height p8">
        <section fxLayout="column"
                 fxLayoutAlign="start stretch"
                 class="card-outline-accent rounded full-height p8">
            <p class="m4 mat-subheading-2">Connector</p>
            <manager orientation="horizontal"
                     [data]="connector"
                     [viewable]="false"
                     [removable]="false"
                     (edit)="editConnector($event)">
                <connector-display [connector]="connector"></connector-display>
            </manager>
            <section fxLayout="row"
                     fxLayoutAlign="space-between center"
                     class="m4 mt12">
                <p class="m4 mat-subheading-2">Queries</p>
                <button mat-stroked-button
                        color="primary"
                        (click)="add()">
                    Add Query
                </button>
            </section>
            <async-source *ngIf="querySrc"
                          searchLabel="Search Queries"
                          emptyLabel="No Queries Available"
                          layout="column"
                          alignment="start stretch"
                          [inlineControls]="false"
                          [src]="querySrc">
                <ng-container *ngIf="querySrc.result$ | async as query else loading">
                    <query-card *ngFor="let q of query.data"
                                [query]="q"
                                [selected]="selected(q)"
                                (download)="download($event)"
                                (fork)="fork($event)"
                                (remove)="remove($event)"
                                (select)="select($event)"></query-card>
                </ng-container>
            </async-source>
        </section>
        <section fxLayout="column"
                 fxLayoutAlign="start stretch"
                 class="card-outline-accent rounded full-height p8"
                 fxFlex>
            <section fxLayout="column"
                     fxLayoutAlign="start stretch"
                     fxFlex
                     class="p4">
                <p class="m4 mat-subheading-2"
                   fxFlexAlign="center">Editor</p>
                <query-form *ngIf="form && editor"
                            [data]="form"
                            [editor]="editor"
                            [showEditor]="true"
                            (update)="update($event)"></query-form>
            </section>
            <section fxLayout="column"
                     fxLayoutAlign="start stretch"
                     class="card-outline-accent rounded p8">
                <p class="m4 mat-subheading-2"
                   fxFlexAlign="center">Results</p>
            </section>
        </section>
    </section>
</ng-container>