<form [formGroup]="form">
    <section fxLayout="column"
             fxLayoutAlign="start stretch">
        <mat-form-field class="my4">
            <mat-label>Name</mat-label>
            <input formControlName="name"
                   matInput>
            <mat-error *ngIf="name?.errors?.required">Name is required</mat-error>
            <mat-error *ngIf="name?.errors?.api">Name is already in use</mat-error>
        </mat-form-field>
        <mat-form-field class="my4">
            <mat-label>Server</mat-label>
            <input formControlName="server"
                   matInput>
            <mat-error *ngIf="server?.errors?.required">Server is required</mat-error>
        </mat-form-field>
        <mat-form-field class="my4">
            <mat-label>Database</mat-label>
            <input formControlName="database"
                   matInput>
            <mat-error *ngIf="database?.errors?.required">Database is required</mat-error>
            <mat-error *ngIf="database?.errors?.api">Database connector already exists</mat-error>
        </mat-form-field>
    </section>
</form>