<card [layout]="layout"
      [alignment]="alignment"
      width="auto"
      options="background-card rounded card-outline-accent">
    <ng-content></ng-content>
    <section fxLayout="row"
             fxLayoutAlign="space-between center"
             [class]="controlOptions">
        <button *ngIf="removable"
                mat-icon-button
                color="warn"
                (click)="remove.emit(data)">
            <mat-icon>delete_outline</mat-icon>
        </button>
        <button mat-icon-button
                (click)="edit.emit(data)">
            <mat-icon>edit</mat-icon>
        </button>
        <button *ngIf="viewable"
                mat-icon-button
                color="primary"
                (click)="view.emit(data)">
            <mat-icon>arrow_forward</mat-icon>
        </button>
    </section>
</card>